$baseColor: #026AA7;
$baseColor2: #7dbb00;
$baseFontFamily: "Times New Roman", Times, serif;
$baseBackgroundColor: darken($baseColor, 10);
$baseBackgroundColor2: lighten($baseColor, 10);
$baseBackgroundColor3: lighten($baseColor, 60);
$baseBackgroundColor4: darken($baseColor2, 10);