$baseColor1: #7dbb00;
$baseColor2: #F2F2F2;
$baseColor3: darken($baseColor2, 10);
$baseColor4: darken($baseColor2, 60);
$baseColor5: #337ab7;
$baseColor6: darken($baseColor2, 35);
$baseFontFamily: "Helvetica Neue",Helvetica,Arial,sans-serif;
$baseBackgroundColor1: darken($baseColor2, 7);