$baseColor: #fb9a39;
$baseColor2: #7dbb00;
$baseBackgroundColor: darken($baseColor, 20);
$baseBackgroundColor2: lighten($baseColor, 20);
$baseBackgroundColor3: lighten($baseColor, 35);
$baseBackgroundColor4: darken($baseColor2, 10);