@import 'mixins/css3mixins';
@import 'variables';

body {
	background-color: $baseColor2;
}

.done {
	text-decoration: line-through;
}

.message {
	display: none;
	margin: 0 auto;
	width: 200px;
	height: 100px;
	border-radius: 20px;
	font-size: 22px;
	background-color: $baseColor1;
}

.form-group-lg .form-control, .btn-lg {
	height: 66px;
	font-size: 26px;
}

.glyphicon {
	cursor: pointer;
}

.btn-primary {
	width: 150px;
}

.btn-success {
	width: 150px;
}

.list-group-item {
	position: relative;
	font-size: 18px;
	height: 66px;
	line-height: 45px;

	&:hover {
		background-color: $baseBackgroundColor1;

		.date-added, .delete {
			display: inline-block;
		}
	}

	.date-added {
		display: none;
		left: 18px;

		&:hover {
			color: $baseColor5;
		}
	}

	.delete  {
		display: none;
		right: 18px;

		&:hover {
			background-color: white;
			padding: 5px;
			top: 15px;
			border-radius: 5px;
			color: red;
			right: 13px;
		}
	}

	.check, .date-added, .delete {
		position: absolute;
		top: 18px;
		font-size: 30px;
		color: $baseColor4;
	}

	.check {
		left: 18px;
	}

	.item-text {
		position: absolute;
		left: 66px;
    	font-family: $baseFontFamily;
    	font-size: 22px;
    	cursor: pointer;
	}
}

.bg-primary {
	margin-bottom: 15px;
	color: $baseColor4;
	background: none;
}

.list-group {
	box-shadow: 0px 5px 12px 2px #ccc;
}

.inputEdit {
	height: 100%;
	font-size: 26px;
}