@import 'mixins/css3mixins';
@import 'variables';

body {
	background-color: $baseBackgroundColor3;
}

.glyphicon {
	cursor: pointer;
}

.jumbotron {
	background-color: $baseBackgroundColor;
}

.list-group-item {
	position: relative;
	background-color: $baseBackgroundColor2;
	font-size: 18px;

	&:hover {
		background-color: $baseColor;

		.edit, .delete {
			display: inline-block;
			color: black;
		}
	}

	.edit, .delete  {
		display: none;

		&:hover {
			background-color: white;
			padding: 5px;
			top: 8px;
			border-radius: 5px;
		}
	}

	.check, .edit, .delete {
		position: absolute;
		top: 13px;
		font-size: 20px;
	}

	.check {
		left: 10px;
	}

	.contents {
		left: 25px;
		padding-left: 25px;
    	font-family: $baseFontFamily;
    	font-size: 20px;
    	font-weight: 600;
	}

	.delete {
		right: 10px;

		&:hover {
			color: red;
		}
	}

	.edit {
		right: 47px;

		&:hover {
			color: $baseColor2;
		}
	}
}

.checkbox_active {
	text-decoration: line-through;
	opacity: 0.4;
}

.well {
	border: 1px solid grey;
	background-color: white;
}

.bg-primary {
	margin-bottom: 15px;
}