@import 'mixins/css3mixins';
@import 'variables';

body {
	background-color: $baseColor2;
}

.done {
	text-decoration: line-through;
}

.form-group-lg .form-control, .btn-lg {
	height: 66px;
	font-size: 26px;
}

.glyphicon {
	cursor: pointer;
}

.btn-primary {
	width: 150px;
}

.btn-success {
	width: 150px;
}

.list-group-item {
	position: relative;
	font-size: 18px;
	height: 66px;
	line-height: 50px;

	&:hover {
		background-color: $baseBackgroundColor1;

		.edit, .delete {
			display: inline-block;
		}
	}

	.edit, .delete  {
		display: none;

		&:hover {
			background-color: white;
			padding: 5px;
			top: 15px;
			border-radius: 5px;
		}
	}

	.check, .edit, .delete {
		position: absolute;
		top: 18px;
		font-size: 30px;
		color: $baseColor4;
	}

	.check {
		left: 18px;
	}

	.contents {
		position: absolute;
		left: 66px;
    	font-family: $baseFontFamily;
    	font-size: 30px;
	}

	.delete {
		right: 18px;

		&:hover {
			color: red;
			right: 13px;
		}
	}

	.edit {
		right: 70px;

		&:hover {
			color: $baseColor1;
			right: 65px;
		}
	}
}

.content_decoration {
	text-decoration: line-through;
}

.checkbox_active {
	opacity: 0.3;
}

.bg-primary {
	margin-bottom: 15px;
	color: $baseColor4;
	background: none;
}

.list-group {
	box-shadow: 0px 5px 12px 2px #ccc;
}

.inputEdit {
	height: 100%;
	font-size: 26px;
}