/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
body {
  background-color: #dcf2ff; }

.glyphicon {
  cursor: pointer; }

.jumbotron {
  background-color: #014a75; }

.list-group-item {
  position: relative;
  background-color: #038ad9;
  font-size: 18px; }
  .list-group-item:hover {
    background-color: #026AA7; }
    .list-group-item:hover .edit, .list-group-item:hover .delete {
      display: inline-block;
      color: black; }
  .list-group-item .edit, .list-group-item .delete {
    display: none; }
    .list-group-item .edit:hover, .list-group-item .delete:hover {
      background-color: white;
      padding: 5px;
      top: 8px;
      border-radius: 5px; }
  .list-group-item .check, .list-group-item .edit, .list-group-item .delete {
    position: absolute;
    top: 13px;
    font-size: 20px; }
  .list-group-item .check {
    left: 10px; }
  .list-group-item .contents {
    left: 25px;
    padding-left: 25px;
    font-family: "Times New Roman", Times, serif;
    font-size: 20px;
    font-weight: 600; }
  .list-group-item .delete {
    right: 10px; }
    .list-group-item .delete:hover {
      color: red; }
  .list-group-item .edit {
    right: 47px; }
    .list-group-item .edit:hover {
      color: #7dbb00; }

.checkbox_active {
  text-decoration: line-through;
  opacity: 0.4; }

.well {
  border: 1px solid grey;
  background-color: white; }

.bg-primary {
  margin-bottom: 15px; }
