/* -------------------------------------------------------------
  Sass CSS3 Mixins! The Cross-Browser CSS3 Sass Library
  By: Matthieu Aussaguel, http://www.mynameismatthieu.com, @matthieu_tweets

  List of CSS3 Sass Mixins File to be @imported and @included as you need

  The purpose of this library is to facilitate the use of CSS3 on different browsers avoiding HARD TO READ and NEVER
  ENDING css files

  note: All CSS3 Properties are being supported by Safari 5
  more info: http://www.findmebyip.com/litmus/#css3-properties

------------------------------------------------------------- */
body {
  background-color: #F2F2F2; }

.form-group-lg .form-control, .btn-lg {
  height: 66px;
  font-size: 26px; }

.glyphicon {
  cursor: pointer; }

.btn-primary {
  width: 150px; }

.btn-success {
  width: 150px; }

.list-group-item {
  position: relative;
  font-size: 18px;
  height: 66px;
  line-height: 50px; }
  .list-group-item:hover {
    background-color: #e0e0e0; }
    .list-group-item:hover .edit, .list-group-item:hover .delete {
      display: inline-block; }
  .list-group-item .edit, .list-group-item .delete {
    display: none; }
    .list-group-item .edit:hover, .list-group-item .delete:hover {
      background-color: white;
      padding: 5px;
      top: 15px;
      border-radius: 5px; }
  .list-group-item .check, .list-group-item .edit, .list-group-item .delete {
    position: absolute;
    top: 18px;
    font-size: 30px;
    color: #595959; }
  .list-group-item .check {
    left: 18px; }
  .list-group-item .contents {
    position: absolute;
    left: 66px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 30px; }
  .list-group-item .delete {
    right: 18px; }
    .list-group-item .delete:hover {
      color: red;
      right: 13px; }
  .list-group-item .edit {
    right: 70px; }
    .list-group-item .edit:hover {
      color: #7dbb00;
      right: 65px; }

.content_decoration {
  text-decoration: line-through; }

.checkbox_active {
  opacity: 0.3; }

.bg-primary {
  margin-bottom: 15px;
  color: #595959;
  background: none; }

.list-group {
  box-shadow: 0px 5px 12px 2px #ccc; }

.inputEdit {
  height: 100%;
  font-size: 26px; }
